<% if @video.errors.any? %>
    <div class='alert alert-danger'>
        <p><%= @video.errors.count %> Erros Encontrados:</p>
        <ul>
        <% @video.errors.full_messages.each do |error| %>
            <li><%=error%></li>
        <% end %>
        </ul>
    </div>
<% end %>
<%= form_for [@category, @video] do |form| %>
    <div class='mb-3 form-group'>
        <%= form.label :category, class: 'form-label' %>
        <%= form.text_field :category, class: 'form-control', disabled: true, value: @category.name %>
    </div>

    <div class='mb-3 form-group'>
        <%= form.label :url, class: 'form-label'%>
        <%= form.text_field :url, class: 'form-control', required: true%>
    </div>

    <div class='mb-3 form-group'>
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', required: true%>
    </div>

    <div class='float-end'>
        <%= form.submit class: 'btn btn-primary' %>
        <%= button_tag "Voltar", type: 'button', class: 'btn btn-secondary', data: {behavior: :back} %>
    </div>
<% end %>