<% if notice %>
<div class="mb-3 alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
<div class='d-flex justify-items-center'>
  <iframe
    width="560"
    height="315"
    src="<%= @video.embed_url %>"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    style="display:block">
  </iframe>
</div>

<%= form_for [@video, @comment], remote: true, id: '' do |form| %>
  <div class='form-group'>
    <%=form.text_area :message, placeholder: "Adicione um Comentário", class: 'form-control' %>
  </div>
  <div class=mt-2>
    <%= form.submit "Enviar",  class: 'btn btn-primary' %>
    <%= link_to "Voltar", video_path(@video), type: 'button', class: 'btn btn-secondary', data: {behavior: :back} %>
  </div>
<% end %>

<div class='comments-container <%='hidden' unless @video_comments.any? %>'>
  <h2>Comentários</h2>
  <div class='comments'>
  <% @video_comments.each do |comment| %>
    <div class='comment'><%= comment.message %></div>
  <% end %>
  </div>
</div>
<div class='no-comments-container <%='hidden' if @video_comments.any? %>'>
  <p>Este vídeo não possui comentários</p>
</div>
