<% if notice %>
<div class='notice' %>
  <p><%= notice %></p>
</div>
<% end %>
<h1>
    <%=@category.name.capitalize %>
    <i class="bi bi-star<%=@category.bookmarked ? "-fill" : ""%>"
       data-behavior=bookmark
       data-id=<%=@category.id%>
    ></i>
</h1>
<ul>
<% if @category.videos.any? %>
<table class='table'>
    <tbody>
    <% @category.videos.each do |video| %>
        <tr>
            <td><%= link_to video.title, video_path(video.id) %></td>
            <td>
            <%= link_to video, method: :delete, class: 'btn edit-category', data: { confirm: "Você tem certeza?" } do %>
                <i class="bi bi-trash" title='Remover Vídeo da Categoria'></i>
            <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% else %>
    Não há videos nesta Categoria
<% end %>
</ul>
<%= link_to "Adicionar Vídeo", new_category_video_path(@category.id), class: 'btn btn-primary', data: {behavior: 'add-video'} %>
<%= link_to "Editar", edit_category_path(@category), class: 'btn btn-info' %>
<%= link_to "Voltar", categories_path, type: 'button', class: 'btn btn-secondary' %>